.titulo-v1{
    color: white;
    margin-bottom: 15px; /* espaço embaixo do título */
}

.vilao1 {
    color: white;
    margin-bottom: 30px; /* espaço depois do parágrafo */
    line-height: 1.6; /* espaço entre linhas do texto */
}