* {
  margin: 0; /*Remover as margens padrão do navegador*/
  padding: 0; /*Remove os preenchimentos padrão do navegador*/
  box-sizing: border-box; /*Garante que bordas não aumentem o tamanho dos elementos*/
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilizar a barra de navegação*/
.navbar {
  background-color: blue;
  color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
